body
{
background-color:#000000;
background-image:url(../pic.jpg);
background-repeat:no-repeat;
background-position:top;
color:#009900;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
}